@page "/zentropa-statistics"
@using Microsoft.AspNetCore.Components.Web
@using ZentropaGraphs.Client.Components.Zentropa
@rendermode InteractiveAuto

<PageTitle>Zentropa Statistics</PageTitle>

<h1 class="mb-4">Zentropa Catalogue Insights</h1>

<UniqueMoviesSummary />
<TargetMovieMetaCard />
<TargetMovieRatingsTimeline />

<div class="row g-4">
    <div class="col-12 col-lg-6">
        <TopMoviesStrictTable />
    </div>
    <div class="col-12 col-lg-6">
        <TopMoviesByAverageTable />
    </div>
</div>

<RatingsYearlyStatsTable />
<GenreStatsBarChart />
<MovieGenrePairsSummary />
<AverageRatingPerMovieSummary />
